*{
    /* border: 1px solid black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color:  hsl(0deg 0% 0% / 50%); */
}


.frame{
    height: 500px;
    width: 300px;
    position: fixed;
    top: 4%;
    left: 41%;
    border-radius: 40px;
    background-color: #f3383d;
    box-shadow: #415757 inset 0 0 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

#screen{
    height: 48%;
    width: 90%;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    position: relative;
    background-color: hsl(0deg 0% 0% / 20%) impo !important;
    box-shadow: #415757 inset 0 0 5px;
    border: 3px solid #000000;
}    

#screen-glass{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    position: absolute;
    /* background-color: hsl(0deg 0% 0% / 20%); */
    z-index: 10;
    box-shadow: #415757 inset 0 0 5px;
}

#outer-wheel{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.refl{
    /* Reflection of The Frame for Diferent Browsers */
    display:block;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(88, 82, 82, 0.3)));
    /* bottom: -53% !important; */
    /* position: relative; */
    /* left: 28.5px; */
    top:84%;
    /* z-index: -1; */
}

#menu-btn, #previous-btn, #next-btn, #play-btn, #pause-btn{
    /* Giving all the buttons of wheel same font-color, font-size and position-relative */
    color: grey;
    font-size: 1.2rem;
    position: relative;
}
/* Buttons Section */
#menu-btn{
    position: relative;
    display: inline-block;
    left: 36%;
    top: 1.5%;
    cursor: pointer;
}
#previous-btn{
    left: -25%;
    top: 37%;
    cursor: pointer;
}
#next-btn{
    left: 53%;
    top: 37%;
    cursor: pointer;
}
#play-btn{
    left: -6%;
    top: 70%;
    cursor: pointer;
}
#pause-btn{
    left: 0%;
    top: 70%;
    cursor: pointer;
}

#center-button{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    margin-top: 2%;
    left:62.5px;
    cursor: pointer;
    background-color: #f3383d;
    /* background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png"); */
}

#menu-bar{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 16px;
    z-index: 2;
    position:absolute;
    overflow: auto;
}

#menu-bar::-webkit-scrollbar{ display: none;}

.menu-items{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top:5px;
    margin-right: 10px;
}

#wallpaper-image{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    z-index: 1;
}

#lock-img{
    height: 200px;
    width: 200px;
}

#upper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    margin-bottom: -10px;
    height: 30px;
    border-top-left-radius: 20px;
}

.fa-battery-full{
    color: #1d9c61; 
    margin-right:10px;
}

.fa-wifi{
    color:#0482d4;
    margin-right: -10px;
    font-size: 0.8rem;
}

.fa-bluetooth-b{
    color: white;
    margin-right: -10px;
    font-size: 0.8rem;
}

.fa-map-marker-alt{
    color: black;
    margin-right: -10px;
    font-size: 0.8rem;
}

#selected{
    background-color: #0482d4;
    color: white;
    display: flex;
    justify-content: space-between;
}

#set-settings-screen{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#toggle-btn{
    width:80px;
    height:40px;
    background-color:grey;
    border-radius:30px;
    padding:5px;
    transition:all 300ms ease-in-out;
}

#toggle-btn>.inner-circle{
    width:40px;
    height:40px;
    background-color:white;
    border-radius:50%;
    transition:all 300ms ease-in-out;
}

#toggle-btn.active{
    background-color:#00acee;
}

#toggle-btn.active>.inner-circle{
    margin-left:40px;
}

.image-widget{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#song-view{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 8;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
     background-image: linear-gradient(45deg, #a4f2f2, #efa7d7); 
} 

.player {
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	overflow: hidden;
    z-index: 9;
    border-radius: 18px;
}
.player .main {
	width: 100%;
	height: 100%;
	background: #222;
	transition:all 500ms ease-in-out;
}

.player .main .thumbnail img {
	width: 100%;
    height: 150px;
    position: relative;
}
.player .main .seekbar {
	margin-top: -15px;
}
.player .main .seekbar input[type="range"] {
	-webkit-appearance:none;
	width: 98%;
	height: 4px;
	outline: none;
	background: #00acee;
	overflow: hidden;
}
/* .player .main .seekbar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 5px;
	height: 0px;
    right: 0px;
	box-shadow: -300px 0px 0px 300px #00acee;
} */
.player .main .details {
	text-align: center;
}
.player .main .details h2 {
	font-size: 18px;
	color:#eee;
	/* margin-bottom: 5px; */
    margin-top: 0px;
}
.player .main .details p {
	font-size: 15px;
	color: #aaaaaa;
    margin-top: -10px;
}
.player .main .controls {
	display: flex;
	justify-content: center;
	margin:8px 0px;
    margin-top: -5px;
}
.player .main .controls > div {
	margin:0px 30px;
	cursor: pointer;
}
.player .main .controls i.fa {
	font-size:25px;
	color: #ddd;
    font-size: 20px;
}
.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
}
.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}
.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}
